$md_color: #e9f4f7;

.export {
    margin: 20px;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.headerContainer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    .legend {
        background-color: $md_color;
        padding: 10px;
        margin-right: 20px;
        border-radius: 5px;
        margin-left: auto;
    }
}

.pokemonsTableContainer {
    height: 90vh;
    overflow-y: auto;
}

th[mat-header-cell], td[mat-cell] {
    text-align: center;
}

.mat-mdc-row:hover {
    background-color: lightgray;
}

.pokemonImg {
    width: 50px;
}

.typeImg {
    width: 30px;
}

.mat-column-md_primaryType, .mat-column-md_victoryPoints, .mat-column-md_dmg, .mat-column-md_attackName, .mat-column-md_couleurContour, .mat-column-md_starter {
    background-color: $md_color  !important;
}

